/*normalize css*/

/*box styling*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*base styling*/
body{
  width: 360px;
  margin: 0;
}

h1, h2, h3{
     font-family: 'Source Sans Pro';
     font-style: normal;
     text-transform: uppercase;
     font-weight: 600;
}

h3 {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 10px 0;
    color: #acd373;
}

p {
     font-family: 'Source Sans Pro';
     font-size: 13px;

}
section{
  padding: 30px;
}

ul {
    list-style-type: none;
}

/*specific page / section*/


/*//////////////////

header section

////////////////// */
header{
  background-color: #acd373;
  height: 40px;
  position: relative;

}

.logo{
  display: inline-block;
  margin: 8px 0 0 30px;
}

nav{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #89a85c;
  background-image: url(images/btn-tg-nav.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*greeting section*/

.greeting {
    background:#9abd67 url(images/bkg-header-silhouette.png) no-repeat bottom;
    height: 350px;
  position: relative;
  color: #fff;
  text-align: center;
    padding: 0;
     font-size: 14px;
}

.greeting > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.greeting h1{
  margin-top: 0;
}

/*   who we are section   */

.who-we-are {
     margin-top: 13px;
}

.who-we-are .iphone {
  display: block;
  margin: 0 auto;
}

.who-we-are h2{
    
  background: url(images/icon-man.png) no-repeat;
  height: 30px;
  padding-left: 38px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 36px;
  margin-bottom: 23px;
}
 
.who-we-are a{
     
  color: #acd473;
  text-decoration: none;
  border: #acd473 1px solid;
  padding: 11px 15px;
  font-style: italic;
  margin: 17px 0;
  display: inline-block;
}

.video-learnmore {
  padding: 0
}

/*     our services section     */

.our-services {
     text-align: center;
     margin-bottom: auto;
}

em {
     color: #9abd67;
     font-style: normal;
}

.quote {
     display: block;
     text-align: center;
     font-family: 'Droid Serif Regular';
     font-size: 14px;
}

.divider {
     text-align: center;
}

.service-item{
    position: relative;
    display: block;
    margin-bottom: 15px;
  
}
.service-item p{
    margin: 0;
    font-size: 12px;
}

.service-item img {
    float: left;
    margin-right: 20px;
}
.service-text {

    height: 80px;
}

.learn-more {
  color: #acd473;
  text-decoration: none;
  border: #acd473 1px solid;
  padding: 11px 15px;
  font-style: italic;
  margin: 17px 0;
  display: inline-block;

}

.learn-button {
    text-align: center;
}

.amazing-team {
    background-color: #acd473;
}

.amazing-team h2 {
    color: #f7f7f7;
    font-size: 20px;
    text-align: center;
}

.amazing-team span {
    color: #f7f7f7;
}

/*need to make separator white*/
.amazing-team .divider{
   filter: invert(20%);
   margin-bottom: 77px;
}

.founder-box {
    display: block;
    border: 3px solid white:#f7f7f7; 
    background-color: #f7f7f7;
    height: 182px;
    width: 200px;
    border-top-radius: 5px;
    margin: 0 auto;
    margin-top: 48px;
    text-align: center;
}

.founder-box-gray {
    positon: absolute;
    height: 52px;
    background-color: #ebebeb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
}

.founder {
    margin-top: -27px;
}

.founder-box h2 {
    color: #acd473;
    font-size: 14px;
}

.founder-box h3 {
    color: black;
}