/*normalize css*/

/*box styling*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*base styling*/
body{
  width: 360px;
  margin: 0;
}

h1, h2 {
     font-family: 'Source Sans Pro';
     font-style: normal;
     text-transform: uppercase;
     font-weight: 600;
}

h3 {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 10px 0;
    color: #acd373;
}

p {
     font-family: 'Source Sans Pro';
     font-size: 13px;

}
section{
  padding: 30px;
}

ul {
    list-style-type: none;
}

form label,
form input
  {
    display: block;
}

form input {
    margin: 0 0 10px;
}
/*specific page / section*/


/*//////////////////

header section

////////////////// */
header{
  background-color: #acd373;
  height: 40px;
  position: relative;

}

.logo{
  display: inline-block;
  margin: 8px 0 0 30px;
}

nav{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #89a85c;
  background-image: url(images/btn-tg-nav.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*greeting section*/

.greeting {
    background:#9abd67 url(images/bkg-header-silhouette.png) no-repeat bottom;
    height: 350px;
  position: relative;
  color: #fff;
  text-align: center;
    padding: 0;
     font-size: 14px;
}

.greeting > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.greeting h1{
  margin-top: 0;
}

/*   who we are section   */

.who-we-are {
     margin-top: 13px;
}

.who-we-are .iphone {
  display: block;
  margin: 0 auto;
}

.who-we-are h2{
    
  background: url(images/icon-man.png) no-repeat;
  height: 30px;
  padding-left: 38px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 36px;
  margin-bottom: 23px;
}
 
.who-we-are a{
     
  color: #acd473;
  text-decoration: none;
  border: #acd473 1px solid;
  padding: 11px 15px;
  font-style: italic;
  margin: 17px 0;
  display: inline-block;
}

.video-learnmore {
  padding: 0
}

/*     our services section     */

.our-services {
     text-align: center;
     margin-bottom: auto;
}

em {
     color: #9abd67;
     font-style: normal;
}

.quote {
     display: block;
     text-align: center;
     font-family: 'Droid Serif Regular';
     font-size: 14px;
}

.divider {
     text-align: center;
}

.service-item{
    position: relative;
    display: block;
    margin-bottom: 15px;
  
}
.service-item p{
    margin: 0;
    font-size: 12px;
}

.service-item img {
    float: left;
    margin-right: 20px;
}
.service-text {

    height: 80px;
}

.learn-more {
  color: #acd473;
  text-decoration: none;
  border: #acd473 1px solid;
  padding: 11px 15px;
  font-style: italic;
  margin: 17px 0;
  display: inline-block;

}

.learn-button {
    text-align: center;
}

.amazing-team {
    background-color: #acd473;

}


.amazing-team h2 {
    color: #f7f7f7;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 5px;
}

.amazing-team span {
    color: #f7f7f7;
}


.amazing-team .divider{
   margin-bottom: 77px;
}

.founder-box {
    position: relative;
    display: block;
    border: 3px solid white:#f7f7f7; 
    background-color: #f7f7f7;
    width: 200px;
    height: 182px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

.founder-box-gray {
    position: absolute;
    height: 40px;
    width: 200px;
    bottom: 0;
    background-color: #ebebeb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.founder {
    margin-top: -27px;
}

.founder-box h3 {
    margin-top: 12px;
    color: #acd473;
    font-size: 14px;
}

.founder-box h4 {
    color: black;
    opacity: .5;
    font-family: DroidSerif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
}

.founder-social {
    display: inline-block;
    margin: 8px;

}

.founder-wrapper {
    position: relative;
    display: block;
}

.founder-wrapper .right-arrow {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}
  
.founder-wrapper .left-arrow {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
}

.next-nav {
    margin: 0 0 -30px -30px;
    background-color: #9abd67;
    width: 360px;
    height: 66px;
}

.next-nav p {
    position: absolute;
    display: inline-block;
    margin: 25px 0 0 30px;
    color: white;
}

.next-nav .hiring-box {
  display: inline-block;
  color: white;
  float: right;
  
  border: white 1px solid;
  padding: 10px 10px;
  font-style: italic;
  margin: 12px 20px;
  }

.next-nav a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

/*    Our Recent Works Section    */

.our-recent-works {
    text-align: center;
    height: 600px;
}

.our-recent {
     font-size: 20px;
     color: black;
     text-align: center;
     margin-bottom: 5px
}

.pict-graph {
    margin-top: 48px;
    position: relative;
}

.letoy-themes {
    height: 80px;
    width: 300px;
    background-color: #ebebeb;
    margin-top: -5px;
}

.themes-div {
    position: relative;
    display: inline-block;
    height: 80px;
    
}
.themes-div h3 {
    margin-top: 25px;
    color: black;
}

.themes-div h4 {
    margin: -4px;
    color: black;
    opacity: .5;
    font-family: DroidSerif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
}

.view-all-box {
/*  position: absolute;*/
  display: inline-block;
  border: 3px solid white:#f7f7f7; 
  padding: 10px;
  font-style: italic;
  text-align: center;
  float: none;
  margin: 40px 0 10px 0;
  }

.view-all-box a{
    font-size: 14px;
    color: #acd473;
    text-decoration: none;
    text-align: center;
}

.page-logos {
    margin: 30px 0 0 -30px;
    position: relative;
    display: block;
    height: 80px;
    width: 360px;
    background-color: #ebebeb;
    padding: none;
}

.logo-envato {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  padding-left: 30px
}

.logo-theme-forest {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  padding-right: 30px;
    padding-top: 10px;
}

.testimonials-section-main {
    height: 562px;
    background-image: url(images/pict-background-book.jpg)
}

.john-doe-div {
    position: relative;
    margin-top: 20px
}

.test-quote-wrap {

    position: relative;
    height: 85px;
    width: 300px;
    border: 1px solid white;
    display: inline-block; 
    padding: 0 10px;

}

.test-quote-para {
    text-align: justify;
    color: white;
    font-family: DroidSerif;
    opacity: .5;
}

.quote-icon {
    float: right;
    position: relative;
    margin-top: -20px;
    margin-right: 10px
}

.john-doe-wrap {
    display: block;
    padding-top: 20px
    
}

.john-doe-name {
    float: right;
    padding-right: 55px;
    
}

.john-doe-name h3 {
    margin-top: 20px;
}

.john-doe-name h4 {
    margin-top: 5px;
    font: italic 14px DroidSerif;
    color: rgba(247, 247, 247, 0.85);

} 

.button-wrap {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 55px;
}


.testimonials {
    font-family: 'Source Sans Pro';
    color: #f7f7f7;
    font-weight: 400;
    font-size: 20px;
    opacity: .8
}

.testimonials-para {
    color: #f7f7f7;
    opacity: .8;
    margin-bottom: 5px;
    line-height: 16px
}

.give-testimonial-box {
  
  color: #acd473;
  border: #acd473 1px solid;
  padding: 11px 15px;
  font-style: italic;
  margin: 17px 0;
  display: inline-block;
}
.testimonial-button {
    text-decoration: none;
    color: #acd473;
}

.blog-section {
    height: 675px;
/*    outline: 1px solid red;*/
}

.blog-wrapper {
    outline: 1px solid red;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
}

.blog-wrapper h2 {
    font: 400 20px 'Source Sans Pro';
    padding-top: 20px;
    margin-bottom: 5px;
}

.web-design-wrapper{
    position: absolute;
/*    float: right;*/


}

.web-design-picture-box {
/*    outline: 1px solid red;*/
/*    position: absolute;*/
    margin-left: -60px;
    width: 160px;
    height: 101px;
}
.icon-earth {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: -25px;
}

.read-gray-area {
    margin-top: -25px;
    width: 160px;
    height: 101px;
    background-color: #ebebeb;
    
        }

.read-gray-area h3 {
    text-align: center;
/*    dispay: block;*/
    font-size: 10px;
    color: #454545;
    padding-top: 50px;
    font-family: 'Source Sans Pro';
    text-decoration: none;
}

.background-picture-seats {
    
}


.read-more-button {
    width: 160px;
    height: 30px;
    text-align: center;
    display: inline-block;
    background-color: #acd373;
    padding: 5px;
}

.read-more {
    text-decoration: none;
    font-style: italic;
    font-size: 12px;
    color: #f7f7f7;
    
}
.native-apps-wrapper {
    position: relative;
    padding-left: 115px;
    padding-bottom: 15px;

}

.native-apps-picture-box {
/*    outline: 1px solid red;*/
/*    margin-right: -100px;*/
    width: 160px;
/*    height: 101px;*/
}

.background-picture-beach {
    height: 102px;
    width: 160px;
}

.icon-mobile {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: -25px;
}
.read-more-native-button {
    
}

.not-ui-wrapper {
    position: relative;
/*    outline: 1px solid red;*/
    float: left;
    width: 160px;
    margin-left: -60px;


}

.not-ui-picture-box {
    width: 160px;
}

.background-picture-wheat {
    width: 160px;
    height: 101px;
}

.icon-monitor {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: -25px;
}

.quick-tips-wrapper {
    position: relative;
    padding-left: 115px;
    padding-bottom: 15px;
         
}

.quick-tips-picture-box {
/*       outline: 1px solid red;*/
/*    margin-right: -100px;*/
    width: 160px;
    height: 120px;
}

.icon-business {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: -25px;
}

.background-picture-logs {
     width: 160px;
    height: 101px;
}

.blog-nav {
    position: relative;
    outline: 1px solid red;
    height: 62px;
    background-color: #acd373;
    padding: 25px 10px;
}

.blog-nav h3 {
    font-size: 12px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    opacity: .8;
    color: #f7f7f7;

}

.join-box {
    color: white;
    float: right;
    width: 120px;
    height: 30px;
    border: 1px solid white;
    text-align: center;
    display: block;
    padding: 5px;
    font-style: italic;
    margin: -33px 20px;
}

.join-box-button {
    color: white;
    font-size: 12px;

}